# whitelist mode - block everything except what is explicitly allowed
*

# files
!.gitignore
!Makefile

# file types
!*.h
!*.c
!*.cpp
!*.md
!*.mk

# directories

!storage

# code (general)
!source
!include

# resources
!resources

# scripts
!scripts

# modules
!common
!test
!wrapper
!game
!minitui
!dev
